footer {
    background-color: #201F1F;
    height: 10.5em;
    color:white;
    font-family: roboto;
    padding-left: 1em;
    padding-right: 1em;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
}

.footer-flex > div {
    width: 100%;
    margin: auto;
}

.footer-flex > div:first-child {
    text-align: left;
}

.footer-flex >div:last-child {
    margin-top: -5.2em;
    text-align: right;
}

.footer-number {
    display: block;
    position: relative;
    top:.7em;
    margin-bottom: 1.5em;
}

.footer-bottom-margin{
    position: relative;
    top:1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.socials-logo {
    width: 2em;
    height: 2em;
    margin-left: 1em;
}

.socials-logo-first {
    margin-left: 0;
}

.dribble {
    width: 2.5em;
    height: 2.5em;
}

.dribble-top {
    position: relative;
    top:.3em;
}
.copyright {
    margin-top: 2em;
}

@media (min-width:800px) {
    footer {
        height: 15em;
    }
    .footer-flex >div:last-child {
        margin-top: 0em;
    }
    .footer-number {
        display: inline;
        position: relative;
        top:0em;
        margin-bottom: 1em;
        padding-top: 0em;
        margin-bottom: 0em;
    }
    .footer-bottom-margin{
        position: relative;
        top:0em;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
}

@media(min-width :1085px){ 
    footer {
        height: 10em;
        padding-left: 0em;
        padding-right: 0em;
        padding-top: 3em;
    }  
    .footer-flex > div {
        width: 45%;
        margin: auto;
    }
    .copyright {
        margin-left: 2em;
    }
}